body {
    background: url('video.png') no-repeat center center;
    background-size: cover;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
    filter: blur(1px);
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

.content {
    position: relative;
    top: 35px;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
}

#podval {
    position: fixed; /* Фиксируем подвал */
    bottom: 10px; /* Поднимаем подвал немного вверх */
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Центрируем по горизонтали */
    background-color: rgba(204, 202, 202, 0.432);
    font-family: 'Dancing Script', cursive; /* Шрифт такой же, как в kontent */
    color: rgb(0, 0, 0); /* Цвет текста */
    z-index: 1;
    max-width: 600px;
    height: 70px;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 5px; /* Отступ в 5 пикселей */
}

#content {
    backdrop-filter: blur(5px);
    font-family: 'Dancing Script', cursive; /* Шрифт такой же, как в kontent */
    font-size: 30px; /* Установите желаемый размер шрифта */
    line-height: 1.5; /* Установите межстрочный интервал для лучшей читаемости */
    color: white; /* Цвет текста */
}

.button {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    border: none;
    border-radius: 10px;
    transition: background-color 3s, transform 2s;
    backdrop-filter: blur(9px);
    text-decoration: none; /* Убираем подчеркивание */
}

.button:hover {
    background-color: rgba(0, 153, 204, 0.7);
    border-radius: 50px;
    transform: scale(1.1);
}

.kontent {
    position: relative;
    background-color: rgba(170, 169, 169, 0.822);
    margin: 20px auto;
    padding: 20px;
    z-index: 1;
    width: 80%;
    max-width: 1000px;
    height: auto;
    text-align: center;
    border-radius: 10px;
    
    overflow: hidden;
    margin-top: 60px; /* Уменьшите отступ сверху, чтобы поднять текст */
    margin-bottom: 50px; /* Увеличьте отступ снизу, чтобы подвал не перекрывал текст */
}

.school-title {
    position: relative;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 2;
    backdrop-filter: blur(10px);
    padding: 20px;
}